<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registration</title>
    <style>
      .errorlist {
        list-style-type: none;
        font-size: 10px;
        margin: 0px;
        color: red;
      }
    </style>
  </head>
  <body>
    <form action="" method="POST" novalidate>
      {% csrf_token %} {{form.non_feild_errors}} {% for field in form %}
      <div>{{field.label_tag}} {{field}} {{field.errors}}</div>

      {% endfor %}
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
